USE [master]
GO
/****** Object:  Database [IMDBProyecto]    Script Date: 25/11/2025 06:55:30 p. m. ******/
CREATE DATABASE [IMDBProyecto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMDBProyecto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ANGELSERVER\MSSQL\DATA\IMDBProyecto.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMDBProyecto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ANGELSERVER\MSSQL\DATA\IMDBProyecto_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMDBProyecto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMDBProyecto]
GO
/****** Object:  Table [dbo].[imdb_movies]    Script Date: 25/11/2025 06:55:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imdb_movies](
	[names] [nvarchar](100) NOT NULL,
	[date_x] [date] NOT NULL,
	[score] [float] NOT NULL,
	[genre] [nvarchar](100) NULL,
	[overview] [nvarchar](max) NOT NULL,
	[crew] [nvarchar](max) NULL,
	[orig_title] [nvarchar](100) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[orig_lang] [nvarchar](50) NOT NULL,
	[budget_x] [float] NOT NULL,
	[revenue] [float] NOT NULL,
	[country] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCorrelationMatrix]    Script Date: 25/11/2025 06:55:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 1. SP para la Matriz de Correlación Completa
*/
CREATE PROCEDURE [dbo].[sp_GetCorrelationMatrix]
AS
BEGIN
    -- 1.1: Definir la ruta de salida
    DECLARE @ImagePath NVARCHAR(4000) = N'C:\Principito\matriz_correlacion_COMPLETA.png';

    -- 1.2: Definir la consulta
    DECLARE @sql_query AS NVARCHAR(MAX)
    SET @sql_query = N'
        SELECT 
            budget_x, 
            revenue, 
            score,
            YEAR(date_x) AS release_year
        FROM 
            IMDBProyecto.dbo.imdb_movies 
        WHERE 
            budget_x > 0 
            AND revenue > 0 
            AND score > 0
            AND date_x IS NOT NULL
    '
    -- 1.3: Ejecutar el script de R
    EXEC sp_execute_external_script
        @language = N'R',
        @script = N'
            library(corrplot)
            plot_output_path <- image_path
            cor_matrix <- cor(InputDataSet)
            png(plot_output_path, width = 800, height = 800, res = 100)
            mis_colores <- colorRampPalette(c("#B2182B", "white", "#2166AC"))(200)
            corrplot(cor_matrix, method = "color", type = "lower", addCoef.col = "black", tl.col = "black", tl.srt = 45, col = mis_colores)
            dev.off()
            OutputDataSet <- data.frame(variable = row.names(cor_matrix), cor_matrix)
        ',
        @input_data_1 = @sql_query,
        @params = N'@image_path NVARCHAR(4000)', 
        @image_path = @ImagePath
    WITH RESULT SETS ((
        variable_medida NVARCHAR(100),
        budget_x FLOAT,
        revenue FLOAT,
        score FLOAT,
        release_year FLOAT
    ));
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRegression_RevenueVsBudget]    Script Date: 25/11/2025 06:55:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 2. SP para Regresión: Ingresos vs. Presupuesto
*/
CREATE PROCEDURE [dbo].[sp_GetRegression_RevenueVsBudget]
AS
BEGIN
    DECLARE @ImagePathReg NVARCHAR(4000) = N'C:\Principito\regresion_Ingresos_vs_Presupuesto.png';
    DECLARE @sql_query_reg AS NVARCHAR(MAX)
    SET @sql_query_reg = N'
        SELECT budget_x, revenue FROM IMDBProyecto.dbo.imdb_movies 
        WHERE budget_x > 1000 AND revenue > 1000 AND score > 0 AND date_x IS NOT NULL
    '
    EXEC sp_execute_external_script
        @language = N'R',
        @script = N'
            Y_data <- log(InputDataSet$revenue)
            Y_label <- "Ingresos (Escala Log)"
            X_data <- log(InputDataSet$budget_x)
            X_label <- "Presupuesto (Escala Log)"
            
            plot_output_path <- image_path
            model <- lm(Y_data ~ X_data)
            
            png(plot_output_path, width = 800, height = 700, res = 100)
            plot(X_data, Y_data, main = "Regresión: Ingresos vs. Presupuesto", xlab = X_label, ylab = Y_label, pch = 16, col = rgb(0,0,0,0.3))
            abline(model, col = "blue", lwd = 2)
            dev.off()
            model_summary <- summary(model)$coefficients
            OutputDataSet <- data.frame(Termino = row.names(model_summary), model_summary)
        ',
        @input_data_1 = @sql_query_reg,
        @params = N'@image_path NVARCHAR(4000)', 
        @image_path = @ImagePathReg
    WITH RESULT SETS (( Termino NVARCHAR(100), Estimate FLOAT, Std_Error FLOAT, t_value FLOAT, Pr_t FLOAT ));
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRegression_RevenueVsScore]    Script Date: 25/11/2025 06:55:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 3. SP para Regresión: Ingresos vs. Calificación
*/
CREATE PROCEDURE [dbo].[sp_GetRegression_RevenueVsScore]
AS
BEGIN
    DECLARE @ImagePathReg NVARCHAR(4000) = N'C:\Principito\regresion_Ingresos_vs_Calificacion.png';
    DECLARE @sql_query_reg AS NVARCHAR(MAX)
    SET @sql_query_reg = N'
        SELECT revenue, score FROM IMDBProyecto.dbo.imdb_movies 
        WHERE budget_x > 1000 AND revenue > 1000 AND score > 0 AND date_x IS NOT NULL
    '
    EXEC sp_execute_external_script
        @language = N'R',
        @script = N'
            Y_data <- log(InputDataSet$revenue)
            Y_label <- "Ingresos (Escala Log)"
            X_data <- InputDataSet$score
            X_label <- "Calificación (Score)"
            
            plot_output_path <- image_path
            model <- lm(Y_data ~ X_data)
            
            png(plot_output_path, width = 800, height = 700, res = 100)
            plot(X_data, Y_data, main = "Regresión: Ingresos vs. Calificación", xlab = X_label, ylab = Y_label, pch = 16, col = rgb(0,0,0,0.3))
            abline(model, col = "green", lwd = 2)
            dev.off()
            model_summary <- summary(model)$coefficients
            OutputDataSet <- data.frame(Termino = row.names(model_summary), model_summary)
        ',
        @input_data_1 = @sql_query_reg,
        @params = N'@image_path NVARCHAR(4000)', 
        @image_path = @ImagePathReg
    WITH RESULT SETS (( Termino NVARCHAR(100), Estimate FLOAT, Std_Error FLOAT, t_value FLOAT, Pr_t FLOAT ));
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRegression_RevenueVsYear]    Script Date: 25/11/2025 06:55:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 5. SP para Regresión: Ingresos vs. Año de Estreno
*/
CREATE PROCEDURE [dbo].[sp_GetRegression_RevenueVsYear]
AS
BEGIN
    DECLARE @ImagePathReg NVARCHAR(4000) = N'C:\Principito\regresion_Ingresos_vs_Anio.png';
    DECLARE @sql_query_reg AS NVARCHAR(MAX)
    SET @sql_query_reg = N'
        SELECT revenue, YEAR(date_x) AS release_year FROM IMDBProyecto.dbo.imdb_movies 
        WHERE budget_x > 1000 AND revenue > 1000 AND score > 0 AND date_x IS NOT NULL
    '
    EXEC sp_execute_external_script
        @language = N'R',
        @script = N'
            Y_data <- log(InputDataSet$revenue)
            Y_label <- "Ingresos (Escala Log)"
            X_data <- InputDataSet$release_year
            X_label <- "Año de Estreno"
            
            plot_output_path <- image_path
            model <- lm(Y_data ~ X_data)
            
            png(plot_output_path, width = 800, height = 700, res = 100)
            plot(X_data, Y_data, main = "Regresión: Ingresos vs. Año de Estreno", xlab = X_label, ylab = Y_label, pch = 16, col = rgb(0,0,0,0.3))
            abline(model, col = "orange", lwd = 2)
            dev.off()
            model_summary <- summary(model)$coefficients
            OutputDataSet <- data.frame(Termino = row.names(model_summary), model_summary)
        ',
        @input_data_1 = @sql_query_reg,
        @params = N'@image_path NVARCHAR(4000)', 
        @image_path = @ImagePathReg
    WITH RESULT SETS (( Termino NVARCHAR(100), Estimate FLOAT, Std_Error FLOAT, t_value FLOAT, Pr_t FLOAT ));
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRegression_ScoreVsBudget]    Script Date: 25/11/2025 06:55:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 4. SP para Regresión: Calificación vs. Presupuesto
*/
CREATE PROCEDURE [dbo].[sp_GetRegression_ScoreVsBudget]
AS
BEGIN
    DECLARE @ImagePathReg NVARCHAR(4000) = N'C:\Principito\regresion_Calificacion_vs_Presupuesto.png';
    DECLARE @sql_query_reg AS NVARCHAR(MAX)
    SET @sql_query_reg = N'
        SELECT budget_x, score FROM IMDBProyecto.dbo.imdb_movies 
        WHERE budget_x > 1000 AND revenue > 1000 AND score > 0 AND date_x IS NOT NULL
    '
    EXEC sp_execute_external_script
        @language = N'R',
        @script = N'
            Y_data <- InputDataSet$score
            Y_label <- "Calificación (Score)"
            X_data <- log(InputDataSet$budget_x)
            X_label <- "Presupuesto (Escala Log)"
            
            plot_output_path <- image_path
            model <- lm(Y_data ~ X_data)
            
            png(plot_output_path, width = 800, height = 700, res = 100)
            plot(X_data, Y_data, main = "Regresión: Calificación vs. Presupuesto", xlab = X_label, ylab = Y_label, pch = 16, col = rgb(0,0,0,0.3))
            abline(model, col = "purple", lwd = 2)
            dev.off()
            model_summary <- summary(model)$coefficients
            OutputDataSet <- data.frame(Termino = row.names(model_summary), model_summary)
        ',
        @input_data_1 = @sql_query_reg,
        @params = N'@image_path NVARCHAR(4000)', 
        @image_path = @ImagePathReg
    WITH RESULT SETS (( Termino NVARCHAR(100), Estimate FLOAT, Std_Error FLOAT, t_value FLOAT, Pr_t FLOAT ));
END;
GO
USE [master]
GO
